# dependencies
node_modules/
.pnpm-store/

# build output
/dist

# logs
*.log

# non-public environment variables
.env
.env.local
.env.*.local

# cache
.eslintcache
.stylelintcache
*.tsbuildinfo

# misc
.DS_Store
.idea
